<center>
  <h1>Contacts Page</h1>
</center>
<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @contacts.each do |contact|%>
  <tr>
    <td>contact.name</td>
  </tr>
  <% end %>

</table>
